{% block body -%}
    <div id="WindowLoad"></div>
    <div class="row">
        <div class="col-md-12">
            <!-- begin panel -->
            <form id="the-form-file" action="{{ path('app_fileimg_newfile', { 'id': idfolder }) }}" method="POST" enctype="multipart/form-data">
                <div id="fileempty" class="hide alert alert-danger fade in m-b-15" >
                    Debe agregar almenos un archivo.
                </div>
                <div id="comboempty" class="hide alert alert-danger fade in m-b-15" >
                    Debe seleccionar almenos un grupo o un usuario para envio de correo,<br> de lo contrario quitar selección en opcion envio de correo.
                </div>
                <div id="typefile" class="hide alert alert-danger fade in m-b-15" >
                    Ha seleccionado un/os archivo/s no válido/s.<br>
                    Archivos Válidos : Word, Excel, Powerpoint, jpg, png, gif y pdf.<br>
                    Debe volver a cargar archivos solo con los tipos descritos.<br>
                    Los nombres de los archivos no pueden contener puntos en su nombre a excepción de el punto para la extensión del mismo.
                </div>
                <div id="namefile" class="hide alert alert-danger fade in m-b-15" >
                    Ha seleccionado un/os archivo/s no válido/s.<br>
                    Los nombres de los archivos no pueden contener puntos en su nombre a excepción de el punto para la extensión del mismo<br>

                </div>
                <div id="fileoversize" class="hide alert alert-danger fade in m-b-15" >
                    Ha seleccionado un/os archivo/s que exceden el tamaño maximo. 20 MegaBytes<br>
                    Debe volver a cargar archivos.
                </div>
                <div class="panel panel-inverse">
                    <div class="panel-heading">
                        <h2 style="font-size: 14px" class="panel-title">Agregar Archivo/s</h2>
                    </div>
                    <div class="panel-body">
                        <input  type="hidden" id="idfolder" value="{{ idfolder }}" name="idfolder">
                        <div class="panel panel-inverse">
                            <div class="panel-body">
                                <div class="form-group" >
                                    <label>Nombre Archivo</label>
                                    <input id="fileupload" type="file" name="files[]"  accept=".doc,.docx,.pdf,.jpg,.jpeg,.png,.gif,.xls,.xlsx,.ppt,.pptx" multiple>
                                </div>
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="checkbox">
                                                <label>
                                                    <input id="version_chk" name="version_chk" type="checkbox" value="1" />
                                                    Desea Establecer un numero de version?
                                                    <br>
                                                    <div id="div_version" class="hide">
                                                        <label>defina version del documento : </label>
                                                        <input type="number" class="form-control" name="cantversion" id="cantversion" min="0" >
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div class="checkbox">
                                            <label>
                                                <input id="correo" name="correo" type="checkbox" value="1" />
                                                Desea Enviar Correo de Aviso?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--
                                        <div class="form-group">
                                            <label>Acceso Grupos</label>
                                            <select multiple class="form-control" name="accesoarray[]" id="accesoarray">
                                                {% for acceso in accesos %}
                                                    <option value="{{ acceso.id }}">{{ acceso.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div> -->
                                <div id="combos" class="hide">
                                    <div class="form-group">
                                        <label>Usuarios</label>
                                        <select multiple class="form-control" name="userarray[]" id="userarray">
                                            {% for usuar in usuarios %}
                                                <option value="{{ usuar.id }}">{{ usuar.fullName }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div id="div_version" class="form-group">
                                        <label>Grupos</label>
                                        <select multiple class="form-control" name="grupoarray[]" id="grupoarray">
                                            {% for grup in grupos %}
                                                <option value="{{ grup.id }}">{{ grup.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" align="right">
                            <a class="btn btn-default" onclick="loadFolderfromnewfile({{ idfolder }});"><i class="fa fa-arrow-left"></i> Volver</a>
                            <button id="uploadButton" type="submit" class="btn btn-primary btn-medium">Guardar</button>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>

        $('#userarray').select2(
            {width: '100%' }
        );
        $('#grupoarray').select2(
            {width: '100%' }
        );
        $('#accesoarray').select2(
            {width: '100%' }
        );
        $(document).ready(function() {
            $('form').submit(function(ev) {
                var error = false;
                if($('#fileupload').val() == ''){
                    $('#fileempty').removeClass('hide');
                    error = true;
                    setTimeout(function() {
                        $('#fileempty').addClass("hide");
                    }, 6000);
                }

                $('INPUT[type="file"]').each(function(){
                    console.log('en file');
                    if(typeof this.files[0] !== 'undefined'){
                        var size = this.files[0].size;
                        console.log(size);

                        if(size > 20000000){
                            $('#fileoversize').removeClass('hide');
                            error = true;
                            setTimeout(function() {
                                $('#fileoversize').addClass("hide");
                            }, 6000);
                        }

                    }
                });

                /*
                if( $('#accesoarray').select2('data').length == 0 ) {
                    $('#gruposempty').removeClass('hide');
                    error = true;
                    setTimeout(function() {
                        $('#gruposempty').addClass("hide");
                    }, 6000);

                }
                */

                if($('#correo').is( ":checked" )){
                    if( $('#grupoarray :selected').length == 0 && $('#userarray :selected').length == 0 ) {
                        $('#comboempty').removeClass('hide');
                        error = true;
                        setTimeout(function() {
                            $('#comboempty').addClass("hide");
                        }, 6000);

                    }
                }

                if(error === true){
                    return false;
                }else{
                    jsShowWindowLoad2();
                }

            });
        });

        $('#version_chk').on('click', function(){
            if($(this).is( ":checked" )){
                $('#div_version').removeClass('hide');
            }else{
                $('#div_version').addClass('hide');
            }
        });

        $('#correo').on('click', function(){
            if($(this).is( ":checked" )){
                $('#combos').removeClass('hide');
                console.log('test');
            }else{
                $('#combos').addClass('hide');
            }
        });

        $('INPUT[type="file"]').change(function () {
            var ext = this.value.match(/\.(.+)$/)[1];
            var validFileExtensions = ["jpg", "jpeg", "gif", "png",'doc','docx','xls','xlsx','ppt','pptx','pdf'];
            var fileErrors = new Array();
            var ext2 = this.value.split('.').pop();
            if( $.inArray( ext2, validFileExtensions ) == -1) {
                fileErrors.push(file);
            }
            switch (ext) {
                case 'jpg':
                case 'jpeg':
                case 'png':
                case 'doc':
                case 'docx':
                case 'xls':
                case 'xlsx':
                case 'ppt':
                case 'pptx':
                case 'gif':
                case 'pdf':
                    $('#uploadButton').attr('disabled', false);
                    break;
                default:
                    $('#typefile').removeClass('hide');
                    setTimeout(function() {
                        $('#typefile').addClass("hide");
                    }, 6000);
                    this.value = '';
            }
            if(fileErrors > 0 ){
                $('#namefile').removeClass('hide');
                setTimeout(function() {
                    $('#namefile').addClass("hide");
                }, 6000);
            }
            //console.log(fileErrors);return false;
        });

        function loadFolderfromnewfile(id){
            loading(true);
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            loadFolderPermiso(id);
            {% else %}
            var path = "{{ path('category_load_folder_permisos', { 'id': 'idElemento' }) }}";
            path = path.replace('idElemento', id);

            $.ajax({
                type: 'GET',
                async: true,
                url: path,
                success: function(results) {
                    //console.log(results);return false;
                    if (results == 'success'){
                        loadFolderPermiso(id);
                    }else{
                        $('#nopermiso').removeClass('hide');
                        error = true;
                        setTimeout(function() {
                            $('#nopermiso').addClass("hide");
                        }, 6000);
                    }
                },
                error: function(e){
                    console.log(e);
                }
            });
            {% endif %}
        }
    </script>
{% endblock %}