<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>{{ sistema }}</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="{{ asset('bundles/app/assets/img/favicon.ico') }}" rel="shortcut icon">
    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="{{ asset('bundles/app/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/plugins/font-awesome/5.0/css/fontawesome-all.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/plugins/ionicons/css/ionicons.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/plugins/animate/animate.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/css/animate.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/css/style.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/css/style-responsive.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/css/theme/black.css') }}" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="{{ asset('bundles/app/assets/plugins/jquery-jvectormap/jquery-jvectormap.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/plugins/gritter/css/jquery.gritter.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/plugins/morris/morris.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/plugins/gritter/css/jquery.gritter.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/assets/css/select2.css') }}" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script src="{{ asset('bundles/app/assets/plugins/pace/pace.min.js') }}"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE CSS STYLE ================== -->
    <link href="{{ asset('bundles/app/assets/plugins/intro-js/introjs.css') }}" rel="stylesheet" />
    <!-- ================== END PAGE CSS STYLE ================== -->

    <!--<style>
        table.table tr th{background-color:darkgrey !important;}
    </style>-->
    {% block stylesheets %}

    {% endblock %}
    <style>
        #WindowLoad
        {
            position:fixed;
            top:0px;
            left:0px;
            z-index:3200;
            filter:alpha(opacity=65);
            -moz-opacity:65;
            opacity:0.65;
            background:#999;
        }

        .modal-dialog{
            width:90%;
        }

        .bootbox{
            width:90%;
        }

        .modal-dialog .smallWidth {
            margin: 0 auto;
            width: 50%;
        }

    </style>
</head>
<!-- <body class="bg-silver-lighter"> -->
<body class="bg-silver">
<div id="WindowLoad"></div>
<!-- begin #page-loader -->
<div id="page-loader"><span class="spinner"></span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-inverse navbar-fixed-top">
        <!-- begin container-fluid -->
        <div class="container-fluid">
            <!-- begin mobile sidebar expand / collapse button -->
            <div class="navbar-header">
                <h2 style="color: white; font-family: Helvetica;">  imagina</h2>

            </div>
            <!-- end mobile sidebar expand / collapse button -->


            <!-- begin header navigation right -->
            {% include 'baseMenu.html.twig' %}
            <!-- end header navigation right -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end #header -->
    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div data-scrollbar="true" data-height="100%">
            <!-- begin sidebar user -->
            <!-- end sidebar user -->
            <!-- begin sidebar nav -->
            <ul id="menugo" class="nav">
                <li class="nav-header" style="font-size: medium"> Menú</li>
                <li><a id="menuinicio" href="{{ path('homepage') }}"><i class="ion-easel"></i>  Inicio</a></li>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li class="has-sub">
                        <a href="javascript:;">
                            <b class="caret pull-right"></b>
                            <i class="ion-gear-b"></i>
                            <span> Configuración</span>
                        </a>
                        <ul class="menuintrosub sub-menu">
                            <li><a class="introsubmenu" id="menuusuarios" href="{{ path('app_usuario_index') }}"><i class="ion-person-stalker"></i><span>  Usuarios</span></a></li>
                            <li><a class="introsubmenu" id="menudocumentos" href="{{ path('app_document_index') }}"><i class="ion-document-text"></i><span> Documentos</span></a></li>
                           <!-- <li><a class="introsubmenu" id="menutareas" href="{{ path('app_taskdocument_index') }}"><i class="ion-clipboard"></i><span> Tareas Documentos</span></a></li> -->
                            <li><a id="menuproyectos" href="{{ path('app_proyectogo_index') }}"><i class="ion-home"></i><span> Proyectos</span></a></li>
                        </ul>
                    </li>
                    <li><a id="dashboardgo" href="{{ path('go') }}"><i class="ion-clipboard"></i><span> Inicio Go</span></a></li>
                {% endif %}
                <!-- begin sidebar minify button -->
                <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
                <!-- end sidebar minify button -->
            </ul>
            <!-- end sidebar nav -->
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div id="content" class="content">
        <div id="initmensaje"></div>
        {% block body %}{% endblock %}
    </div>
    <!-- end #content -->


    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
</div>
<!-- end page container -->

<!-- ================== BEGIN BASE JS ================== -->
<script src="{{ asset('bundles/app/assets/plugins/jquery/jquery-1.9.1.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery/jquery-migrate-1.1.0.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/DataTables/media/js/jquery.dataTables.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/DataTables/media/js/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/DataTables/extensions/Responsive/js/dataTables.responsive.min.js') }}"></script>
<!--[if lt IE 9]>
<script src="{{ asset('bundles/app/assets/crossbrowserjs/html5shiv.js') }}"></script>
<script src="{{ asset('bundles/app/assets/crossbrowserjs/respond.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/crossbrowserjs/excanvas.min.js') }}"></script>
<![endif]-->
<script src="{{ asset('bundles/app/assets/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery-cookie/jquery.cookie.js') }}"></script>
<!-- ================== END BASE JS ================== -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="{{ asset('bundles/app/assets/plugins/morris/raphael.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/morris/morris.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/jquery-jvectormap/jquery-jvectormap-world-merc-en.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/gritter/js/jquery.gritter.js') }}"></script>
<script src="{{ asset('bundles/app/assets/js/dashboard-v2.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/js/apps.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/bootstrap-sweetalert/sweetalert.min.js') }}"></script>
<!-- ================== END PAGE LEVEL JS ================== -->
<script src="{{ asset('bundles/app/assets/appjs/bootbox.min.js') }}"></script>
<script src="{{ asset('bundles/app/assets/appjs/elevencrud.js') }}"></script>
<script src="{{ asset('bundles/app/assets/appjs/select2.full.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/gritter/js/jquery.gritter.js') }}"></script>
<script src="{{ asset('bundles/app/assets/plugins/intro-js/intro.js') }}"></script>
<!-- <script src="{{ asset('bundles/app/assets/validation/jquery.validate.js') }}"></script> -->
{% block javascripts %}
{% endblock %}
<script>
    var sUrlDatatable =  "{{ asset('bundles/app/assets/js/datatables-lang-es.json') }}";
 var globalperfil = "";
    $(document).ready(function() {
        App.init();
        window.addEventListener('keydown', function(e) {
            if (e.keyIdentifier == 'U+000A' || e.keyIdentifier == 'Enter' || e.keyCode == 13) {
                if (e.target.nodeName == 'INPUT' && e.target.type == 'text') {
                    e.preventDefault();
                    return false;
                }
            }
        }, true);


        var pageName = (function () {
            var a = window.location.href,
                b = a.split("/");
            return b[b.length-2];
        }());



    });

    var intro = introJs();
    intro.setOptions({
        showStepNumbers: true,
        showProgress: true,
        showBullets: true,
        skipLabel: 'Saltar',
        doneLabel: 'Salir',
        nextLabel: 'Siguiente',
        prevLabel: 'Anterior',
        steps: [
            {
                element: '#menugo',
                intro: 'Menu para manejar las opciones dentro del modulo GO'
            },
            {
                element: '#menuinicio',
                intro: 'Menu para ir a elección de modulo'
            },
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            {
                element: '#menuusuarios',
                intro: 'Menu para ir a configuración Usuarios'
            },
            {
                element: '#menudocumentos',
                intro: 'Menu para ir a configuración de Documentos',
                position: 'bottom'
            },
            {
                element: '#menutareas',
                intro: 'Menu para ir a elección de modulo',
                position: 'bottom'
            },
            {% endif %}
            {
                element: '#menuproyectos',
                intro: 'Menu para ir a configuración Proyectos'
            },
            {
                element: '#dashboardgo',
                intro: 'Menu para ir a dashboard de modulo GO'
            },
            {
                element: '.intro-rsa-proyectos ',
                intro: 'Total de proyectos en el sistema'
            },
            {
                element: '.intro-rsa-proyectos-btn ',
                intro: 'link de acceso a proyectos'
            },
            {
                element: '.intro-re-proyectos ',
                intro: 'Total de proyectos a cargo en el sistema'
            },
            {
                element: '.intro-re-proyectos-btn ',
                intro: 'link de acceso de proyectos a cargo'
            },
            {
                element: '.intro-ra-proyectos ',
                intro: 'Total de proyectos asignados en el sistema'
            },
            {
                element: '.intro-ra-proyectos-btn ',
                intro: 'link de acceso a  proyectos asignados'
            },
            {
                element: '.intro-rsa-tareas ',
                intro: 'Total de tareas pendientes en proyectos del sistema'
            },
            {
                element: '.intro-rsa-tareas-btn ',
                intro: 'link de acceso a tareas en proyectos'
            },
            {
                element: '.intro-re-tareas ',
                intro: 'Total de tareas pendientes en proyectos a cargo en el sistema'
            },
            {
                element: '.intro-re-tareas-btn ',
                intro: 'link de acceso de proyectos a cargo'
            },
            {
                element: '.intro-ra-tareas ',
                intro: 'Total de tareas pendientes asignados en el sistema'
            },
            {
                element: '.intro-ra-tareas-btn ',
                intro: 'link de acceso a tareas asignados'
            },
            {
                element: '.intro-table-proyectos',
                intro: 'Tabla con proyectos visibles para su perfil'
            },

        ].filter(function(obj) { return $(obj.element).length; })
    });

    var intro2 = introJs();
    intro2.setOptions({
        showStepNumbers: true,
        showProgress: true,
        showBullets: true,
        skipLabel: 'Saltar',
        doneLabel: 'Salir',
        nextLabel: 'Siguiente',
        prevLabel: 'Anterior',
        steps: [
            {
                element: '#content',
                intro: 'Menu para manejar las opciones dentro del modulo GO'
            }

        ].filter(function(obj) { return $(obj.element).length; })
    });
    // and check for it when deciding whether to start.

    function startIntro(valor){

        if(valor == 0){
            var pageName = (function () {
                var a = window.location.href,
                    b = a.split("/");
                return b[b.length-1];
            }());


            //$(".menuintrosub").prop('style','display: block');
            //$("#menuintrosub").addClass("open");
            //console.log(pageName);return false;


            intro.onexit(function() {
               console.log('test ok');
                messagesInicio();
            });
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                intro.onbeforechange(function(element) {
                    if (this._currentStep === 1) {
                        setTimeout(function() {
                            $(".menuintrosub").prop('style','display: block');
                        });
                    }
                    if (this._currentStep === 8) {
                        viewAllProyects();
                    }

                    if (this._currentStep === 10) {
                        viewAllTask();
                    }
                });

            {% endif %}
            intro.start();

        }

    }

    function messagesInicio(){
        console.log('entro en mensaje');
        $('#initmensaje').append('<div id="alertamensaje" class="alert alert-info ">' +
            '<span class="close" data-dismiss="alert">×</span>' +
            '<i class="fa fa-check fa-2x pull-left m-r-10">' +
            '</i><a id="intro-btn" class="btn btn-inverse">Continuar Intro</a>' +
            '</div>');

    }

    $('#intro-btn').on('click',function(){
        console.log('entro en el boton');
        intro2.start();
    });
</script>
</body>
</html>
