{% extends 'baseGo.html.twig' %}
{% macro display_tree(level) %}
    {% import _self as macro %}
    <li>
        <h4><a href="#">{{ level.title }}</a></h4>

        {% if level.__children|length %}
            {% set newchildren = level.__children %}
            <ul>
                {% for child in newchildren %}
                    {{ macro.display_tree(child) }}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endmacro %}
{% macro display_tree_data(level) %}
    {% import _self as macro %}

    "id" : "{{ level.id }}", "text" : "{{ level.title }}"
    {% if level.__children|length %}
        {% set newchildren = level.__children %}
        ,"children" : [ {
        {% for child in newchildren %}
            {% if  loop.first %}

            {% else %}
                },{
            {% endif %}
            {{ macro.display_tree_data(child) }}
        {% endfor %}
        }]
    {% endif %}

{% endmacro %}

{% import _self as macro %}
{% block body %}
    <div class="col-md-12">
        <!-- begin row -->
        <div class="row">
            <!-- begin col-3 -->
            <div class="intro-rsa-proyectos col-lg-3 col-md-6">
                <div class="widget widget-stats bg-grey-darker">
                    <div class="stats-icon"><i class="fa fa-building"></i></div>
                    <div class="stats-info">
                        <h4>Proyectos</h4>
                        <p>{{ proyectos|length }}</p>
                    </div>
                    <div class="intro-rsa-proyectos-btn stats-link">
                        <a href="javascript:void(0)" onclick="viewProyects();">Ver Detalle <i class="fa fa-arrow-alt-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- end col-3 -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="results">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row" id="nuevoresultado" >

            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}

<script>

    function viewProyects(){
        checkLoadingDevel(true);
        $('#nuevoresultado').html('').html('');
        //setEncargado(valor);
        var path = "{{ path('app_proyectogo_viewallproyects') }}";

        $.ajax({
            type: 'POST',
           async: true,
            url: path,
            success: function(results) {
                checkLoadingDevel(false);
                $('#results').html('').html(results);
                loadtable('table-entities');
            },
            error: function(e){
                console.log(e);
            }
        });
    }

    function uploadFileTask(id){
        checkLoadingDevel(true);
        var path = "{{ path('app_gofile_newfile',{ 'id': 'idElemento' }) }}";
        path = path.replace('idElemento', id);

        $.ajax({
            type: 'GET',
           async: true,
            url: path,
            success: function(results) {
                checkLoadingDevel(false);
                $('#results').html('').html(results);
            },
            error: function(e){
                console.log(e);
            }
        });
    }

    function newnote(id){

        checkLoadingDevel(true);
        var path = "{{ path('app_note_newnotetask',{ 'id': 'idElemento' }) }}";
        path = path.replace('idElemento', id);

        $.ajax({
            type: 'GET',
           async: true,
            url: path,
            success: function(results) {
                checkLoadingDevel(false);
                $('#nuevoresultado').html('').html(results);
            },
            error: function(e){
                console.log(e);
            }
        });
    }

    function viewnotes(id){
        checkLoadingDevel(true);
        var path = "{{ path('app_note_viewnotes',{ 'id': 'idElemento'}) }}";
        path = path.replace('idElemento', id);

        $.ajax({
            type: 'GET',
           async: true,
            url: path,
            success: function(results) {
                checkLoadingDevel(false);
                $('#nuevoresultado').html('').html(results);
                loadtable('table-entities-notes');
            },
            error: function(e){
                console.log(e);
            }
        });
    }

    function viewTasks(id){
        checkLoadingDevel(true);
        $('#nuevoresultado').html('');
        var path = "{{ path('app_taskdocument_viewtasks' , {'id': 'idElement'}) }}";
        path = path.replace('idElement', id);

        $.ajax({
            type: 'POST',
           async: true,
            url: path,
            success: function(results) {
                checkLoadingDevel(false);
                $('#results').html('').html(results);
                loadtable('table-entities',1);

            },
            error: function(e){
                console.log(e);
            }
        });
    }

    function rejecttask(id){
        checkLoadingDevel(true);
        var path = "{{ path('app_taskdocument_reject',{ 'id': 'idElemento' }) }}";
        path = path.replace('idElemento', id);

        $.ajax({
            type: 'GET',
            async: true,
            url: path,
            success: function(results) {
                if (results === 'success') {
                    checkLoadingDevel(false);
                    var message = 'Se ha rechazado el documento ingresado';
                    var alerta = 'alert-danger';
                    messagesDevelDiv(alerta, message);
                    $('#results').html('');
                    viewTask(globalperfil);
                }
            },
            error: function(e){
                console.log(e);
            }
        });
    }

    function approvetask(id){
        checkLoadingDevel(true);
        var path = "{{ path('app_taskdocument_approve',{ 'id': 'idElemento' }) }}";
        path = path.replace('idElemento', id);

        $.ajax({
            type: 'GET',
            async: true,
            url: path,
            success: function(results) {
                if (results === 'success') {
                    checkLoadingDevel(false);
                    var message = 'Se ha aceptado el documento ingresado';
                    var alerta = 'alert-success';
                    messagesDevelDiv(alerta, message);
                    $('#results').html('');
                    viewTask(globalperfil);
                }
            },
            error: function(e){
                console.log(e);
            }
        });
    }

    function requestReview(id){
        checkLoadingDevel(true);
        var path = "{{ path('app_taskdocument_requesreview',{ 'id': 'idElemento' }) }}";
        path = path.replace('idElemento', id);

        $.ajax({
            type: 'GET',
            async: true,
            url: path,
            success: function(results) {
                if (results === 'success') {
                    checkLoadingDevel(false);
                    var message = 'Se ha aceptado la solicitud de Revisión';
                    var alerta = 'alert-success';
                    var title = 'Solicitud de Revisión';
                    messagesDevelSwal(alerta, message, title);
                    $('#results').html('');
                    viewTask(globalperfil);
                }else{
                    checkLoadingDevel(false);
                    var message = 'No se ha aceptado la solicitud de Revisión';
                    var alerta = 'alert-danger';
                    var title = 'Solicitud de Revisión';
                    messagesDevelSwal(alerta, message, title);
                }
            },
            error: function(e){
                console.log(e);
            }
        });
    }

    function viewFiles(id){
        checkLoadingDevel(true);
        var path = "{{ path('app_gofile_viewfiles',{ 'value': 'idElemento'}) }}";
        path = path.replace('idElemento', id);

        $.ajax({
            type: 'GET',
            async: true,
            url: path,
            success: function(results) {
                checkLoadingDevel(false);
                $('#nuevoresultado').html('').html(results);
                loadtable('table-entities-notes');
            },
            error: function(e){
                console.log(e);
            }
        });
    }
    function eliminar_archivo(id) {
        var div = "<div class='alert alert-danger alert-dark'>" +
            "<strong>Alerta!</strong> Desea realmente eliminar el archivo seleccionado." +
            "</div>";
        var divError = "<div class='alert alert-danger alert-dark'>" +
            "No es posible eliminar este elemento<br>Intente más Tarde  </div>";
        bootbox.dialog({
            message: div,
            buttons: {
                info: {
                    label: "<i class='fa fa-reply'></i> Volver",
                    className: "btn-dafault",
                    callback: function () {
                    }
                },
                danger: {
                    label: "<i class='fa fa-trash'></i> Eliminar",
                    className: "btn-danger",
                    callback: function () {
                        //jsShowWindowLoad();
                        var path = "{{ path('app_gofile_deletefile', { 'id': 'idElemento' }) }}";
                        path = path.replace("idElemento", id);
                        $.ajax({
                            type: "POST",
                            async: true,
                            url: path,
                            success: function (results) {
                                //jsRemoveWindowLoad();
                                if (results === 'success') {
                                    bootbox.alert(entityName + " Eliminada/o correctamente", function () {
                                        viewFiles(id);
                                    });
                                }
                            },
                            error: function (e) {
                                //jsRemoveWindowLoad();
                                bootbox.alert(divError, function () {
                                    viewFiles(id);
                                });
                            }
                        });
                    }
                }
            }
        });
    }

</script>
{% endblock %}
