
<hr>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                    <div class="panel-heading-btn">
                        <a class="btn btn-medium btn-icon btn-circle btn-white btn-add"><i class="fa fa-2x fa-plus-circle"></i></a>
                    </div>
                {% endif %}
                <h2 style="font-size: 14px" class="panel-title">{{ plural }}</h2>
            </div>

            <div class="panel-body">
                <table id="table-entities" class="table table-bordered table-responsive">
                    <thead>
                    <tr>
                        <th class="hide"></th>
                        {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                            <th>Estado</th>
                        {% endif %}
                        <th>Nombre</th>
                        <th>Inmobiliaria</th>
                        <th>Detalles</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        {% if app.user.hasRole('ROLE_SUPER_ADMIN') %}
                            <tr>
                                <td class="hide">{{ entity.id }}</td>
                                <td>
                                    {% if entity.enabled == 1 %}
                                        <button class="btn btn-primary">Activo</button>
                                    {% else %}
                                        <button class="btn btn-default">Inactivo</button>
                                    {% endif %}
                                </td>
                                <td><span class="fa-stack fa-lg text-inverse"><i class="fas fa-lg fa-fw m-r-10 fa-home"></i></span>{{ entity.name }}</td>
                                <td>
                                    {{ entity.inmobiliaria }}
                                </td>
                                <td>
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown navbar-user">
                                            <a style="color: black" href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                                                <i class="fas fa-lg fa-fw m-r-10 fa-ellipsis-v"></i>
                                                <span> </span>
                                            </a>
                                            <ul class="dropdown-menu animated fadeInLeft">
                                                <li class="arrow"></li>
                                                <li>
                                                    <a class="btn-details disabled-entity" title="Detalles" data-id="{{ entity.id }}" data-enabled="{{ entity.enabled }}">
                                                        <span class="fa-stack fa-lg text-inverse"><i class="fas fa-lg fa-fw m-r-10 fa-eye" aria-hidden="true"></i></span> Ver Detalles
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="btn-view" title="ver árbol" data-id="{{ entity.id }}">
                                                        <span class="fa-stack fa-lg text-inverse"><i class="fas fa-lg fa-fw m-r-10 fa-list-alt" aria-hidden="true"></i></span>Ver Arbol
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        var $selectAll = $('#selectall'); // main checkbox inside table thead
        var $table = $('.table'); // table selector
        var $tdCheckbox = $table.find('tbody input:checkbox'); // checboxes inside table body
        var $tdCheckboxChecked = []; // checked checbox arr

        //Select or deselect all checkboxes on main checkbox change
        $selectAll.on('click', function () {
            console.log('entro');
            $tdCheckbox.prop('checked', this.checked);
        });

        //Switch main checkbox state to checked when all checkboxes inside tbody tag is checked
        $tdCheckbox.on('change', function(){
            $tdCheckboxChecked = $table.find('tbody input:checkbox:checked');//Collect all checked checkboxes from tbody tag
            //if length of already checked checkboxes inside tbody tag is the same as all tbody checkboxes length, then set property of main checkbox to "true", else set to "false"
            $selectAll.prop('checked', ($tdCheckboxChecked.length == $tdCheckbox.length));
        })
    });

    $('.btn-view').on('click', function(){
        console.log('entro funcion');
        var id = $(this).data('id');
       loadTree(id);
    });
</script>
