{% extends '::baseUsuarios.html.twig' %}
{% block body %}
    <ol class="breadcrumb pull-right">
        <li>
            <a href="{{ path('homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Inicio</a>
        </li>
        <li class="active">{{ singular }}</li>
    </ol>

    <h1 class="page-header">
        <span class="text-muted font-weight-light">
            <i class="page-header-icon ion-ios-keypad"></i>
            Administración / {{ plural }}
        </span>
    </h1>
    <div id="results">
        {# Results here #}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/app/assets/appjs/bootbox.min.js') }}"></script>
    <script src="{{ asset('bundles/app/assets/appjs/devcrud.js') }}"></script>
    <script>
        $(document).ready(function() {
            var options = {
                _reload:       "{{ path(routes.results) }}",
                _show:         "{{ path(routes.show, { 'id': 'idElemento' }) }}",
                _new:          "{{ path(routes.new) }}",
                _edit:         "{{ path(routes.edit, { 'id': 'idElemento' }) }}",
                _enabled:      "{{ path(routes.enabled, { 'id': 'idElemento' }) }}",
                hasDatatable:  true,

                entityName:    "{{ singular }}"
            };
            initializeCRUD(options);
        });

    </script>
{% endblock %}
